.ronnie{
    position: relative;
    margin: 50px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

h3{
    position: absolute;
    left: 40px;
    top: -40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: orangered;
    padding: 5px;
}

.first-p{
    padding-top: 30px;
}

p{
    padding: 8px;
    margin: 0;
    font-size: 18px;
}

img{
    height: 400px;
    width: 355px;
    float: left;
    margin: 30px 15px 7px 15px;
    border-radius: 10px; 
}

blockquote {
    border-left: 3px solid black;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0;
}

.right{
    height: 430px;
    width: 305px;
    float: right;
    margin: 0px 15px 7px 15px;
    border-radius: 10px;
}