.wr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.cube{
    height: 300px;
    width: 300px;
    background-color: #f34a4a;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.cube:hover{
    transform: rotate(90deg);
}

.cube2{
    height: 300px;
    width: 300px;
    background-color: #f34a4a;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
    filter: grayscale(1) contrast(2);
}

.cube2:hover{
    filter: grayscale(0) contrast(1);
}

.cube3{
    height: 300px;
    width: 300px;
    background-color: #f34a4a;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    animation-name: red-yellow-green;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes red-yellow-green {
    0%   {background-color: #f34a4a;}
    50%  {background-color: yellow;}
    100% {background-color: green;}
}
    